<div class="row">
    <div class="col text-center">
        <p class="text-center" style="font-size: 1.5rem;">
            Let's Play Crazy Eights for <span class="text-danger">FREE</span>
        </p>
        <p class="pt-2">
            <i class="fa fa-users"></i> 44 Online Users
        </p>
        <p>
            <i class="fa fa-gamepad"></i> 6 Gamse Today
        </p>
        <p>
            <a href="https://www.youtube.com/watch?v=1c4YPQTS35I&t=17s" class="text-warning">
                Click here to learn how to play
            </a>
        </p>
    </div>
</div>