<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
                <div class="text-center mb-4">
                    <h3 class="mb-3 font-weight-normal">
                        Change your password
                    </h3>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder="Username" formControlName="username">
                    <label for="Username">Username</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" placeholder="Email" formControlName="email">
                    <label for="email">Email</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" type="password" placeholder="New password" formControlName="newPassword"
                        [class.is-invalid]="submitted && resetPasswordForm.get('newPassword')?.errors">
                    <label for="newPassword">New password</label>
                    <span class="text-danger" *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('required')">
                        New password is required
                    </span>
                    <span class="text-danger" *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('minlength') || 
                    resetPasswordForm.get('newPassword')?.hasError('maxlength') ">
                        New password must be at least 6, and at most 15 characters
                    </span>
                </div>

                <div class="form-floating" *ngIf="errorMessages.length > 0">
                    <app-error-messages [errorMessages]="errorMessages"></app-error-messages>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-success" type="submit">Change password</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-danger" type="button" (click)="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>